.header {
  background: #0f172a;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}

.logo span {
  color: #38bdf8;
}

.nav a {
  color: #cbd5f5;
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav a:hover {
  color: #38bdf8;
}

.auth .btn {
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
}

.login {
  color: #38bdf8;
  border: 1px solid #38bdf8;
}

.register {
  background: #38bdf8;
  color: #0f172a;
}


.profile-container {
  position: relative;
  display: inline-block;
}

.profile-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #38bdf8;
  color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: #1e293b;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  min-width: 180px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-dropdown p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.profile-dropdown hr {
  border: 0.5px solid #38bdf8;
}

.profile-dropdown button {
  padding: 6px 10px;
  background: #38bdf8;
  color: #0f172a;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-dropdown button:hover {
  background: #0ea5e9;
}
